/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-text);
  background-image: var(--page-bg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  width: clamp(320px, 80vw, 700px);
  margin: 0 auto;
  margin-bottom: 98px;
}

.title__container {
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent), sans-serif;
  text-transform: uppercase;
  font-weight: var(--font-weight-header-title);
  margin-top: var(--header-margin-top);
}

.header__title {
  margin-bottom: 20px;
  margin-top: var(--header-padding-y);
  font-size: var(--title-size);
}

.header__sub__title {
  margin-bottom: var(--header-padding-y);
  font-size: clamp(14px, calc(0.9vw + 10px), 23px);
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 51px;
  max-width: var(--content-width);
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card p:last-of-type {
  padding: 0 25px 0 25px;
}

.card__title {
  font-weight: var(--font-weight-title);
  vertical-align: middle;
  padding: 7px 5px 5px 10px;
  line-height: 100%;
}

.card__text_paragraph {
  font-weight: var(--font-weight-text-main);
  line-height: 21px;
  padding: 20px 25px 25px 25px;
}

.card__text_paragraph,
.card__title {
  font-family: var(--font-main), sans-serif;
  color: #000;
  font-size: 18px;
}

.card__image-block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-filter_preparation-for-work {
  filter: grayscale(100%);
}

.image-filter_blank-sheet {
  filter: sepia(60%);
}

.image-filter_doesnot-work-out {
  filter: saturate(50%);
}

.image-filter_pursuit-of-perfection {
  filter: blur(2px);
}

.image-filter-who_are_nearby {
  filter: brightness(120%);
}

.image-filter_workarounds {
  filter: contrast(150%);
}

.image-filter_feel-discouraged {
  filter: grayscale(50%) contrast(120%) brightness(110%) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.card__like-button {
  width: 130px;
  height: 38px;
  margin-top: 3px;

}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  background: none;
  cursor: pointer;
  height: 38px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-right: -9px;
}

.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color-button);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color-button);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.cards__buttons {
  margin: 22px 25px 20px 0px;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__label {
  position: absolute;
  font-family: var(--font-accent), sans-serif;
  font-weight: var(--font-weight-header-title);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin-right: 10px;
  margin-top: 11px;
  top: 15px;
  right: 15px;
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
}


@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.button_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--content-width);
  margin: 0 auto;
  margin-bottom: 100px;
}

.button-block__save-button {
  width: clamp(306px, 40vh, 335px);
  min-height: 55px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-items: center;
}


.button__text {
  font-family: var(--font-accent), sans-serif;
  font-weight: var(--font-weight-header-title);
  font-size: var(--button-font-size);
  line-height: 90%;
  vertical-align: middle;
  word-break: keep-all;
}

.button__icon {
  height: 21px;
  margin-right: 8px;
  margin-left: 12px
}

.modal {
  display: none;
}

.modal[open] {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  width: clamp(341px, 30vh, 353px);
  margin: auto;
  min-height: 191px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 11px;
  z-index: 1;
  padding: 11px 11px 15px 15px;
}

.modal__text {
  font-family: var(--font-accent), sans-serif;
  font-weight: var(--font-weight-header-title);
  font-size: var(--button-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

.button__icon-modal {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  margin-top: 10px;
}

.modal__ok-button {
  width: clamp(261px, 30vh, 293px);
  padding: 7px 0 7px 0;
}

@media (width <=375px) {
  .header {
    width: 100%
  }

  .title__container {
    width: 100%;
  }

  .cards__list {
    width: 100%;
    max-width: none;
    gap: 52px;
  }

  .cards__buttons {
    margin-top: 21px;
  }

  .card img {
    width: 100%;
  }

  .card__title {
    padding: 2px 5px 8px 10px;
    line-height: 22px;
  }

  .button__icon {
    height: 28px;
    margin-top: 12px;
  }

  .button-block__save-button {
    min-height: 83px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal__content {
    padding: 12px 0px 20px 23px;
  }

  .button-block__save-button {
    margin-top: var(--footer-button-margin-top);
    width: clamp(306px, 20vh, 335px);
  }
}

.common_button {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  position: relative;
  color: #fff;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  z-index: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.common_button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  z-index: 1;
}

.common_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color-button);
}

.common_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}

.common_button .button__text,
.common_button .button__icon {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}

.common_button:hover::before {
  transform: translateX(0);
}

.common_button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 1);
}

.common_button .button__icon {
  filter: invert(1);
}

@media (376px <=width <=420px) {
  .header__title {
    font-size: clamp(45px, 4vw + 1rem, 65px);
  }
}