/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", sans-serif;
  --font-weight-text-main: 410;
  --font-weight-title: 715;
  --font-weight-header-title: 400;
  --button-font-size: 14px;
  --page-bg:
    repeating-linear-gradient(to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient(to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px),

    linear-gradient(to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%);
  --content-width: clamp(320px, 80vw, 700px);
  --title-size: clamp(49px, 4vw + 1rem, 65px);
  --sub-title-size: clamp(14px, 4vw + 1rem, 23px);
  --header-padding-y: clamp(122px, 9vw, 130px);
  --header-margin-top: 100px;
  --text-stroke-color: rgba(255, 255, 255, 1);
  --footer-button-margin-top: 50px;
  --accent-color-button: rgba(0, 0, 0, 1);
  --heart-contour: rgba(0, 0, 0, 1);
  --animation-fill-color: rgba(255, 0, 0, 1);
}